<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Gym App</title>
</head>
<body>
    <h1>Vítej na Gym Web App</h1>

    {% if current_user.is_authenticated %}
        <p>Jsi přihlášen jako {{ current_user.email }}.</p>
        <nav>
            <ul>
                <li><a href="/zadat">Zadat nový trénink</a></li>
                <li><a href="/historie">Historie tréninků</a></li>
                <li><a href="{{ url_for('logout') }}">Odhlásit se</a></li>
            </ul>
        </nav>
    {% else %}
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Přihlásit se</a></li>
                <li><a href="{{ url_for('register') }}">Registrovat</a></li>
            </ul>
        </nav>
    {% endif %}
</body>
</html>